/*
 * Lightcase - jQuery Plugin
 * The smart and flexible Lightbox Plugin.
 *
 * @author		Cornel Boppart <cornel@bopp-art.com>
 * @copyright	Author
 *
 * @version		2.1.0 (25/04/2015)
 */

/* Import icon font */

	/* Overlay */
	#lightcase-overlay {
		background: #333;
	}

	/* Loading */
	#lightcase-loading {
		color: #fff;
	}

	/* Case */
	#lightcase-case {
		font-family: arial, sans-serif;
		font-size: 13px;
		line-height: 18px;
		text-align: left;

		color: #aaa;
		text-shadow: 0 0 10px rgba(0,0,0,0.5);
	}

	/* Content */
	#lightcase-case:not([data-type=error]) .lightcase-content {
		position: relative;
		z-index: 1;
		overflow: hidden;

		text-shadow: none;

		background-color: #fff;

		-webkit-box-shadow: 0 0 30px rgba(0,0,0,0.5);
		-moz-box-shadow: 0 0 30px rgba(0,0,0,0.5);
		-o-box-shadow: 0 0 30px rgba(0,0,0,0.5);
		box-shadow: 0 0 30px rgba(0,0,0,0.5);

		-webkit-backface-visibility: hidden;
	}
	#lightcase-case[data-type=image] .lightcase-content,
	#lightcase-case[data-type=video] .lightcase-content {
		background-color: #333;
	}
	#lightcase-case[data-type=image] .lightcase-contentInner,
	#lightcase-case[data-type=video] .lightcase-contentInner {
		line-height: 0.75;
	}
	#lightcase-case:not([data-type=error]) .lightcase-inlineWrap {
		padding: 30px;

		overflow: auto;

		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-o-box-sizing: border-box;
		box-sizing: border-box;
	}

	/*
	 * Content - Extend with further selectors and colors in case you
	 * have elements like <ul>, <li>, <span> or similar displayed in lightcase.
	 */
	#lightcase-case .lightcase-content h1,
	#lightcase-case .lightcase-content h2,
	#lightcase-case .lightcase-content h3,
	#lightcase-case .lightcase-content h4,
	#lightcase-case .lightcase-content h5,
	#lightcase-case .lightcase-content h6,
	#lightcase-case .lightcase-content p {
		color: #333;
	}

	/* Navigation */
	#lightcase-nav a {
		top: 50%;
		margin-top: -0.5em;

		outline: none;
		cursor: pointer;
	}
	#lightcase-nav a.lightcase-icon-close {
		margin: 0;
	}
	#lightcase-nav a.lightcase-icon-close,
	#lightcase-nav a.lightcase-icon-play,
	#lightcase-nav a.lightcase-icon-pause {
		opacity: 0;
	}
	#lightcase-nav a:hover {
		text-shadow: 0 0 15px #fff;
	}
	#lightcase-nav a:hover,
	#lightcase-case:hover ~ #lightcase-nav a {
		opacity: 1;
	}

	/* Icon positioning */
	#lightcase-nav a.lightcase-icon-close {
		position: fixed;
		z-index: 9997;

		top: 0px;
		right: 0px;

		outline: none;
	}
	#lightcase-nav a.lightcase-icon-play,
	#lightcase-nav a.lightcase-icon-pause {
		left: 50%;
		margin-left: -0.5em;
	}
	#lightcase-nav a.lightcase-icon-prev {
		left: 0px;
	}
	#lightcase-nav a.lightcase-icon-next {
		right: 0px;
	}

	/* Error message */
	#lightcase-case p.lightcase-error {
		margin: 0;
		padding: 0;

		font-size: 17px;
		color: #aaa;
	}


	/* Overlay */
	#lightcase-overlay {
		display: none;
		width: 100%;
		height: 100%;

		position: fixed;
		z-index: 2000;
		top: 0;
		left: 0;
	}

	/* Loading */
	#lightcase-loading {
		position: fixed;
		z-index: 2001;
		top: 50%;
		left: 50%;
		width: 30px;
		height: 30px;
		text-align: center;
		padding: 0;
		
		margin-top: -15px;
		margin-left: -15px;

		opacity: 1;

		font-size: 32px;
		
		/* Fixes the icon wobble issue in firefox */
		-moz-transform-origin: 50% 53%;
		
		-webkit-animation: lightcase-loading-spin 0.8s infinite linear;
		-moz-animation: lightcase-loading-spin 0.8s infinite linear;
		-o-animation: lightcase-loading-spin 0.8s infinite linear;
		animation: lightcase-loading-spin 0.8s infinite linear;
		
	}
	#lightcase-loading:after {
		content: '\f110';
		color: #0d0d0d;
		font: normal normal normal 24px/1 FontAwesome; 
		position: absolute;
		top: 3px;
		left: 4px;
	}

	/* Case */
	#lightcase-case {
		display: none;

		position: fixed;
		z-index: 2002;
		top: 50%;
		left: 50%;
	}

	/* Additional info */
	#lightcase-case .lightcase-info {
		/* 
		 * You can change to position "static" or "relative" instead, but consider
		 * that this height will be integrated and calculated
		 * to the maximum height additionally to the image height.
		 */
		position: absolute;

		padding-top: 15px;
	}

	#lightcase-case .lightcase-caption {
		clear: both;
	}
	#lightcase-case .lightcase-title,
	#lightcase-case .lightcase-caption {
		margin: 0;
		padding: 0;

		font-size: 17px;
		line-height: 1.5;
		font-weight: normal;
		text-overflow: ellipsis;
	}
	#lightcase-case .lightcase-caption {
		font-size: 13px;
	}
	#lightcase-case .lightcase-sequenceInfo {
		font-size: 11px;
	}

	/* Icons */
	[class*='lightcase-icon-'] {
		width: 1.123em;
		height: auto;

		/*
		 * For adjusting the icon size, just change the
		 * value for "font-size" here!
		 */
		font-size: 38px;
		line-height: 1;

		text-align: center;
		text-shadow: none;
	}
	a[class*='lightcase-icon-'],
	a[class*='lightcase-icon-']:focus {
		position: fixed;
		z-index: 9999;

		color: rgba(255,255,255,0.6);

		-webkit-tap-highlight-color: rgba(0,0,0,0);

		-webkit-transition: color, opacity, ease-in-out 0.25s;
		-moz-transition: color, opacity, ease-in-out 0.25s;
		-o-transition: color, opacity, ease-in-out 0.25s;
		transition: color, opacity, ease-in-out 0.25s;
	}
	a[class*='lightcase-icon-']:hover {
		color: rgba(255,255,255,1);
	}
	a[class*='lightcase-icon-'] > span {
		display: inline-block;
		text-indent: -9999px;
	}

	/* For mobile (touch) devices */
	.lightcase-isMobileDevice #lightcase-case .lightcase-inlineWrap,
	.lightcase-isMobileDevice #lightcase-case[data-type=iframe] .lightcase-contentInner {
		overflow: auto;
		-webkit-overflow-scrolling: touch;
	}

	.lightcase-isMobileDevice.lightcase-open,
	.lightcase-isMobileDevice.lightcase-open body {
		/*max-width: 100%;
		max-height: 100%;
		overflow: hidden;*/
	}

	.lightcase-isMobileDevice #lightcase-nav a:hover {
		color: #aaa;
		text-shadow: none;
	}


/* Animation for loading spin icon */
@-webkit-keyframes lightcase-loading-spin {

	0% {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(359deg);
		-moz-transform: rotate(359deg);
		-o-transform: rotate(359deg);
		transform: rotate(359deg);
	}

}
@-moz-keyframes lightcase-loading-spin {

	0% {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(359deg);
		-moz-transform: rotate(359deg);
		-o-transform: rotate(359deg);
		transform: rotate(359deg);
	}

}
@-o-keyframes lightcase-loading-spin {

	0% {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(359deg);
		-moz-transform: rotate(359deg);
		-o-transform: rotate(359deg);
		transform: rotate(359deg);
	}

}
@-ms-keyframes lightcase-loading-spin {

	0% {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(359deg);
		-moz-transform: rotate(359deg);
		-o-transform: rotate(359deg);
		transform: rotate(359deg);
	}

}
@keyframes lightcase-loading-spin {

	0% {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(359deg);
		-moz-transform: rotate(359deg);
		-o-transform: rotate(359deg);
		transform: rotate(359deg);
	}

}

/* small devices */
@media screen and (max-width: 640px) {

	.lightcase-open body {
		padding: 55px 0 70px 0;
	}

	.lightcase-open body > *:not([id*=lightcase-]) {
		/*position: fixed !important;
		top: -9999px !important;

		width: 0 !important;
		height: 0 !important;

		overflow: hidden !important;*/
	}

	/* Overlay */
	#lightcase-overlay {
		background: #333;
	}

	/* Loading */
	#lightcase-loading {
		color: #aaa;
	}

	/* Case */
	#lightcase-case {
		font-family: arial, sans-serif;
		font-size: 13px;
		line-height: 18px;
		text-align: left;

		text-shadow: 0 0 10px rgba(0,0,0,0.5);
	}

	#lightcase-case:not([data-type=image]):not([data-type=video]):not([data-type=flash]):not([data-type=error]),
	#lightcase-case:not([data-type=image]):not([data-type=video]):not([data-type=flash]):not([data-type=error]) .lightcase-contentInner,
	#lightcase-case:not([data-type=image]):not([data-type=video]):not([data-type=flash]):not([data-type=error]) .lightcase-inlineWrap {
		position: relative !important;

		top: auto !important;
		left: auto !important;

		width: auto !important;
		height: auto !important;

		margin: 0 !important;
		padding: 0 !important;

		border: none;
		background: none;
	}

	/*
	 * Content - Extend with further selectors and colors in case you
	 * have elements like <ul>, <li>, <span> or similar displayed in lightcase.
	 */
	#lightcase-case .lightcase-content h1,
	#lightcase-case .lightcase-content h2,
	#lightcase-case .lightcase-content h3,
	#lightcase-case .lightcase-content h4,
	#lightcase-case .lightcase-content h5,
	#lightcase-case .lightcase-content h6,
	#lightcase-case .lightcase-content p {
		color: #aaa;
	}

	/* Additional info */
	#lightcase-case .lightcase-info {
		padding-left: 15px;
		padding-right: 15px;
	}
	#lightcase-case:not([data-type=image]):not([data-type=video]):not([data-type=flash]):not([data-type=error]) .lightcase-info {
		position: static;
	}

	#lightcase-case:not([data-type=image]):not([data-type=video]):not([data-type=flash]):not([data-type=error]) .lightcase-content {
		padding: 15px;
		border: none;
		background: none;

		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		-o-box-shadow: none;
		box-shadow: none;
	}
	#lightcase-case:not([data-type=image]):not([data-type=video]):not([data-type=flash]):not([data-type=error]) .lightcase-contentInner,
	#lightcase-case:not([data-type=image]):not([data-type=video]):not([data-type=flash]):not([data-type=error]) .lightcase-contentInner > * {
		width: 100% !important;
		max-width: none !important;
	}

	/*
	 * Set auto height to each element except iframes, because of that
	 * those cannot have a natural/native height and it must be especially defined.
	 */
	#lightcase-case:not([data-type=image]):not([data-type=video]):not([data-type=flash]):not([data-type=error]) .lightcase-contentInner > *:not(iframe) {
		height: auto !important;
		max-height: none !important;
	}

	/* Navigation */
	.lightcase-open #lightcase-nav[data-ispartofsequence]:before {
		content: '';
		position: fixed;
		z-index: 9998;
		right: 0;
		bottom: 0;
		left: 0;
		height: 55px;

		/*background: rgba(55,55,55,0.9);*/
	}

	#lightcase-nav a {
		position: fixed;
		z-index: 9999;
		bottom: 15px;

		outline: none;
		cursor: pointer;
		font-size: 24px;
	}
	#lightcase-nav a:hover {
		text-shadow: 0 0 15px #fff;
	}

	/* Icon positioning */
	#lightcase-nav .lightcase-icon-close {
		position: absolute;
		z-index: 9997;
		top: 0px;
		right: 0px;

		opacity: 0;
	}

	#lightcase-nav .lightcase-icon-pause,
	#lightcase-nav .lightcase-icon-play {
		left: 50%;
		margin-left: -0.5em;
	}
	#lightcase-nav .lightcase-icon-prev {
		left: 0px;
	}
	#lightcase-nav .lightcase-icon-next {
		right: 0px;
	}

	/* Error message */
	#lightcase-case p.lightcase-error {
		padding: 30px 0;
		font-size: 17px;
		text-align: center;
		
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;

		color: #aaa;
	}

}



/* custom */
#lightcase-overlay {
	background: #201f1fe6;
	}
	
#lightcase-case .lightcase-content {
	background-color: transparent !important;
	-webkit-box-shadow:  none !important;
	-moz-box-shadow:  none !important;
	-o-box-shadow:  none !important;
	box-shadow:  none !important;
	}
	
#lightcase-nav a.lightcase-icon-prev, #lightcase-nav a.lightcase-icon-next {
	width: 40px;
	height: 40px;
	background: #000000;
	transition: all 0.3s ease;
	}
	#lightcase-nav > a:hover { padding: 0 5px; }
	
#lightcase-nav a.lightcase-icon-prev:after, #lightcase-nav a.lightcase-icon-next:after {
	content: "\f125";
	font-family: "Ionicons";
	font-size: 10px;
	line-height: 20px;
	width: 20px;
	height: 20px;
	position: absolute;
	top: 50%; margin-top: -10px;
	left: 50%; margin-left: -10px;
	text-align: center;
	color: #ffffff;
	}
	#lightcase-nav a.lightcase-icon-prev:after {
	content: "\f124";
	}
	
	 
#lightcase-nav a.lightcase-icon-close {
	width: 40px;
	height: 40px;
	}
	
#lightcase-nav a.lightcase-icon-close:after, #lightcase-nav a.lightcase-icon-close:before {
	content: "";
	position: absolute;
	width: 16px;
	height: 2px;
	right: 11px;
	top: 20px;	
	-webkit-transform: translateY(0) rotate(45deg);
	-moz-transform: translateY(0) rotate(45deg);
	-ms-transform: translateY(0) rotate(45deg);
	-o-transform: translateY(0) rotate(45deg);
	transform: translateY(0) rotate(45deg);
  	background-color: #ffffff;
	transition: all 0.3s ease;
	}	
	#lightcase-nav a.lightcase-icon-close:before {
	-webkit-transform: translateY(0) rotate(-45deg);
	-moz-transform: translateY(0) rotate(-45deg);
	-ms-transform: translateY(0) rotate(-45deg);
	-o-transform: translateY(0) rotate(-45deg);
	transform: translateY(0) rotate(-45deg);
	}
